.Featured{
    flex: 4;
    width: 100%;
    /* height: 30%; */
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;  
   
}

.FeaturedItem{
    flex: 1;
    margin: 0px 20px;
    padding: 10px;
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 23px 6px 24px 7px rgba(0,0,0,0.1);
    align-items: center;
    border-style: solid;
    border-color:  #04AA6D;
}

.Title{
    font-size: 20px;
}

.Content{
    margin: 10px 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.Extras{
    margin: 10px 20px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: rgb(198, 197, 197);
}

.Logo{
    margin: 10px;
}