.viewCamerasPage{
    flex: 4;
    align-items: center;
    
}


.EditButtonForCamera{
    border: none;
    border-radius: 10px;
    background-color:#04AA6D;
    cursor: pointer;
    padding: 5px 15px;
    color: white;
    margin-right: 20px;
}



.ViewButtonForCamera{
    border: none;
    border-radius: 10px;
    background-color: #04AA6D;
    cursor: pointer;
    padding: 5px 15px;
    color: white;
    margin-right: 20px;
}

.RemoveButtonForCamera{
    border: none;
    border-radius: 10px;
    background-color: rgb(235, 36, 18);
    cursor: pointer;
    padding: 5px 15px;
    color: white;
    margin-right: 20px;
}

