.viewCameraFootage{
    flex: 4;
    align-items: center;
    
}



.videos{
    position:relative; 
    margin-left: 2em;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    
    grid-template-rows: 1fr 1fr 1fr;
    
    row-gap: 25px;
    
    column-gap: 25px;
    
}

