.alert-page{
  flex: 4;
  align-items: center;
}
.alert-page {
    margin: 1rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .alert-level {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
  }
  
  .alert-level.critical {
    color: white;
    background-color: red;
  }
  
  .alert-level.high {
    color: white;
    background-color: orange;
  }
  
  .alert-level.low {
    color: white;
    background-color: green;
  }
  
  .alert-level.info {
    color: white;
    background-color: blue;
  }
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}