.card {
    background-color: white;
    padding: 10px 20px 11px;
    border-radius: 5px;
    width: 800px;
   
    border: 1px solid #0a0909;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  }
  .pay-button{
    padding: 0.7rem 2rem;
    width: 100%;
    margin: 1rem 0;
    color: white;
    font-weight: bold;
    font-size: medium;
    background-color: #556cd6;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    transition: box-shadow 500ms;
    cursor: pointer;
  }
  .pay-button:disabled{
    background-color: #afafaf;
    box-shadow: none;
    cursor: default;
  }
  .pay-button:disabled:hover{
    box-shadow: none;
  }
  .pay-button:hover{
    box-shadow: 2px 5px 15px 2px rgba(0, 0, 0, 0.2);
  }
  .heading-main-payment
{
  color: #04AA6D;
  margin-bottom: 30px;
margin-left: 420px;
}

.paymentHeadings
{
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #04AA6D;
    background-color:#f5f5f5;
    font-weight: bold;
    margin-left: 360px;
    margin-bottom: 10px;
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
    
}

.pay-page {
  
  
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border: 3px solid black;
     padding: 1px;
     background-color:#FBF7F7;
     margin-left: 80px;
     height: 500px;
    }
    
  